.app {
    width: 100%;
    height: 100%;
}
.app-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
    margin-bottom: 5rem;
}
.app-header {
    width: 100%;
}
.app-header-wrapper {
    width: 100%;
    padding: 1rem;
}
.app-logo, .app-search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-logo a.logo {
    font-size: 2rem;
    margin-top: 1.5rem;
    flex-grow: 1;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.app-search input[type=text].search-bar {
    display: block;
    margin-top: 1.5rem;
    border: 0;
    outline: 0;
    padding: 12px 22px;
    flex-grow: 1;
    border-radius: 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
    .app-header-wrapper {
        padding: 2rem;
    }
}
@media screen and (min-width: 567px) {
    .app-wrapper {
        padding: 0 2rem;
    }
}
